body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: #a0522d;
  color: white;
  padding: 1em 2em;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.hero {
  background: #d2691e;
  color: white;
  padding: 100px 20px;
  text-align: center;
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
